@media screen and (max-width: 767px) {
    .option-container {
        grid-template-columns: 50% 50%;
    }
    #cusine-container, #drink-container, #option-container, #snack-container {
        overflow-x: unset;
    }
    .option {
        height: 220px;
        width: 120px
    }
    .mouse-img {
        z-index: 2;
        height: 175px
    }
    #option-text {
        font-size: 26pt;
        margin: 60px auto 20px auto;
    } 
    #main-section {
        grid-template-columns: 80% 20%;
    }
    .next-img {
        height: 50px;
    }
    #main-footer {
        width: 90vw;
        left: 0;
    }
    .inner-option-div {
        top: 50px;
        left: 30px;
        padding: 0;
    }
    .btn-cancel {
        display: none;
    }
    .column-1 {
        background-color: #F7F7F7;
    }
    .cusine-option-text {
        margin-top: 0;
    }
    .next-btn-text {
        font-size: 16pt;
    }
    .tick-img {
        position: relative;
        top: 10px
    }
    #main-footer {
        position: relative;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .burger-img,
    .coke-img {
        height: 400px;
    }
    .burger-img {
        top: -150px;
    }
    .option-container {
        grid-template-columns: 33% 33% 33%;
    }
    #main-section {
        grid-template-columns: 85% 15%;
    }
    .next-img {
        height: 50px
    }
    .sub-title {
        width: auto;
    }
    .main-title {
        font-size: 60pt;
    }
    .coke-img {
        right: 0px;
        bottom: 0;
    }
    .grid-header {
        position: relative;
        top: 10%
    }
    .scroll-down-link {
        top: 80px;
    }
    .scroll-down-text {
        top: -190px;
        left: 56px;
    }
    #main-footer {
        position: relative;
        width: 90vw;
    }
    .tick-img {
        position: relative;
        top: 10px;
        right: 10px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .burger-img,
    .coke-img {
        height: 600px;
    }
    .coke-img {
        right: -50px;
    }
    .main-title {
        font-size: 80pt;
    }
    .scroll-down-link {
        top: 50px;
    }
    .grid-header {
        margin-top: 50px;
    }
    .option-container {
        grid-template-columns: 25% 25% 25% 25%;
    }
    .option {
        display: inline-block;
    }
    .tick-img {
        position: relative;
        top: 10px;
        right: 10px;
    }
    #main-footer {
        position: relative;
    }
}

