@media screen and (max-width: 767px) {
    .burger-img,
    .coke-img {
        height: 300px;
    }
    .burger-img {
        top: 175px;
    }
    .coke-img {
        right: 0px;
        bottom: 50px;
    }
    .option {
        height: 220px;
        width: 120px
    }
    .main-title {
        font-size: 48pt;
        top: 190px;
    }
    .title-div {
        position: relative;
        top: -130px;
    }
    .scroll-down-link {
        visibility: hidden;
    }
    .grid-header {
        grid-template-columns: 10% 80% 10%;
    }
    .sub-title {
        width: auto;
    }
    .scroll-down-link {
        top: 220px;
    }
    .scroll-down-text {
        top: -170px;
        left: 46px;
        z-index: 2;
    }
    .option-container {
        grid-template-columns: 50% 50%;
    }
    .social-icons {
        text-align: center;
        position: relative;
        top: 0;
        right: 0;
    }
    .mouse-img {
        z-index: 2;
        height: 175px
    }
    #option-text {
        font-size: 26pt;
        margin: 60px auto 20px auto;
    } 
    #main-section {
        grid-template-columns: 80% 19%;
    }
    .next-img {
        height: 50px;
    }
    #main-footer {
        position: relative;
        width: 90vw;
        left: 0;
    }
    .inner-option-div {
        top: 50px;
        left: 40px;
        padding: 0;
    }
    .btn-cancel {
        display: none;
    }
    .column-1 {
        background-color: #F7F7F7;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .burger-img,
    .coke-img {
        height: 400px;
    }
    .burger-img {
        top: -150px;
    }
    .option-container {
        grid-template-columns: 33% 33% 33%;
    }
    #main-section {
        grid-template-columns: 90% 10%;
    }
    .next-img {
        height: 50px
    }
    .sub-title {
        width: auto;
    }
    .main-title {
        font-size: 60pt;
    }
    .coke-img {
        right: 0px;
        bottom: 0;
    }
    .grid-header {
        position: relative;
        top: 10%
    }
    .scroll-down-link {
        top: 80px;
    }
    .scroll-down-text {
        top: -190px;
        left: 56px;
    }
    #main-footer {
        width: 90vw;
        position: relative;
        bottom: 0;    
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .burger-img,
    .coke-img {
        height: 600px;
    }
    .coke-img {
        right: -50px;
    }
    .main-title {
        font-size: 80pt;
    }
    .scroll-down-link {
        top: 0px;
    }
    .grid-header {
        margin-top: 50px;
    }
    .option-container {
        grid-template-columns: 25% 25% 25% 25%;
    }
    .option {
        display: inline-block;
    }
    #main-footer {
        position: relative;
    }
}

