* {
    box-sizing: content-box;
    font-family: fatfrank, sans-serif;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

input, button { 
    outline: none;
    border: none;
    width: inherit;
    background-color: inherit; 
}

#main-header {
    background-color: #EDBA00;
    height: 100vh;
    width: 100vw;
}

.logo {
    text-align: center;
    padding: 32px 0;
}

.grid-header {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.title-div {
    text-align: center;
}

.main-title {
    font-family: fatfrank;
    color: #FFF;
    font-size: 95pt;
    position: relative;
    z-index: 1;
}

.burger-img, .coke-img {
    position: absolute;
}

.burger-img {
    height: 800px;
    top: -45px;
    z-index: 0;
}

.mouse-img {
    position: relative;
    height: 200px;
    top: -125px;
    z-index: 0;
}

.coke-img {
    height: 950px;
    right: -95px;
    bottom: 45px;
    z-index: 2;
}

#main-section {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 75% 25%;
}

.col-1 {
    background-color: #F7F7F7;
}

.next-btn {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}

.next-img {
    height: 100px;
}

.next-btn-text {
    font-family: bio-sans, sans-serif;
    color: grey;
    font-weight: 200;
    font-size: 24pt;
}

.option-text-div {
    text-align: center;
}

#option-text {
    color: rgb(163, 162, 162);
    font-size: 52pt;
    margin: 40px 0;
}

#key-text {
    text-decoration: underline;
    text-decoration-color: #EDBA00;
}

.option-container{
    /* border: solid 1px red; */
    text-align: center;
    display: grid;
    grid-template-columns: 15% 23% 23% 23% 15%;
    margin: 40px 0;
    justify-content: center;
}

.option {
    position: relative;
    display: inline-block;
    height: 225px;
    width: 150px;
    margin: 0 auto;
    /* border: solid 1px green; */
    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
    background-color: #FFF;
    cursor: pointer;
}

.option-pic {
    width: auto;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 10;
}

.option-name-div {
    position: relative;
    height: 40px;
    padding: 10px;
    z-index: 12;
    background-color: #FFF;
}

.option-name {
    margin: 0 8px;
    font-family: bio-sans, sans-serif;
    font-weight: 700;
    font-size: 12pt;
    color: #3f3f3f;
    position: relative;
    z-index: 11;
}

.clear {
    overflow: auto;
}

#option-container, #drink-container, #cusine-container, #snack-container {
    overflow: scroll;
    max-height: 850px;
    overflow-x: hidden;
    /* -moz-box-shadow: inset 0 -20px 10px -10px #CCC;
    -webkit-box-shadow: inset 0 -20px 10px -10px #CCC;
    box-shadow: inset 0 -20px 10px -10px #CCC; */
}

.outer-option {
    position: relative;
    height: 170px;
    background-color: #FFF;
}

.inner-option-div {
    position: absolute;
    height: 150px;
    width: 40px;
    top: 30px; 
    padding: 12px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.arrow {
    height: 20px;
}

.arrow-up {
    margin: 20px 0 0 0;
}

.arrow-down {
    transform: rotate(180deg); 
}

.num, .cusine-check {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    color: #FFF;
    font-size: 28pt;
}

.btn-cancel {
    position: absolute;
    top: -16px;
    left: 40px;
    background-color: transparent;
}

.btn-cancel-img {
    height: 40px;
}

.arrow-up-btn, .arrow-down-btn {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.tick-img {
    height: 35px;
    position: relative;
    top: 60px;
    right: 10px;
}

.container {
    text-align: center;
    margin: 0 auto;
    height: auto;
    background-color: #F7F7F7;
}

.content {
    margin: 0 400px
}

.exercise {
    display: grid;
    grid-template-columns: 50% 50%;
}

.text-left {
    text-align: center;
    padding: 68px;
}

.text-right {
    text-align: center;
    padding: 68px;
}

.result-text-yellow {
    color: #EDBA00;
    font-size: 72pt
}

.result-text-normal {
    color: rgb(49, 49, 49);
    font-size: 46pt;
    font-family: bio-sans, sans-serif;
    font-weight: 600;
    margin-top: -30px;
}

.sex-txt {
    font-size: 42pt !important;
    text-align: right !important;
}

.start-btn-div {
    margin: 20px 0 100px 0;
}

.start-btn {
    background-color: #EDBA00;
    color: #FFF;
    font-size: 36pt;
    padding: 10px;
}